# Data directory: ignore common data file formats, keep README.md
data/**/*.csv
data/**/*.pkl
data/**/*.h5ad
data/**/*.pt
data/**/*.zip

# Model directory: ignore model weights
model/**/*.pt

# Jupyter notebook checkpoints
**/.ipynb_checkpoints/

# Python bytecode cache
**/__pycache__/
